[submodule "distributor-service"]
	path = distributor-service
	url = https://github.com/projects-kssk/distributor-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/projects-kssk/auth-service.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/projects-kssk/product-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/projects-kssk/frontend.git
