[submodule "distributor"]
	path = distributor
	url = https://github.com/MayerAttila/distributor.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/MayerAttila/auth-service.git
[submodule "product"]
	path = product
	url = https://github.com/MayerAttila/product.git
